# Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----


### Observations
* Female players account for a smaller percentage of the active players(14%), but account for a higher average purchase price ($3.20) than males ($3.02)

* The 35-39 age group falls within the middle when it comes to representation but they have the highest average purchase price ($3.60). The group 40+ was the last in player representation but had the 3rd highest average purchase price ($2.94)

* 3 of the 5 most profitable items are also in the top 5 most popular items.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
Total = purchase_data['SN'].nunique()
total_players = pd.DataFrame({"Total Players": [Total]}, columns= ["Total Players"])
total_players

   Total Players
0            576

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
unique_items = purchase_data['Item ID'].nunique()

average_price = round(purchase_data['Price'].mean(),2)

Number_of_Purchases = purchase_data['Purchase ID'].count()

Total_revenue = round(purchase_data['Price'].sum(),2)

Total_revenue


Purchase_Data = {'Number or Unique Items': [unique_items],
                'Average Price': [average_price],
                 'Number or Purchases': [Number_of_Purchases],
                 'Total_Revenue': [Total_revenue]}



PurchaseData_DF = pd.DataFrame(Purchase_Data,columns =['Number or Unique Items','Average Price','Number or Purchases','Total_Revenue'])
PurchaseData_DF.style.format({"Average Price": "${:.2f}", "Total_Revenue": "${:.2f}"})
PurchaseData_DF

   Number or Unique Items  Average Price  Number or Purchases  Total_Revenue
0                     183           3.05                  780        2379.77

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
usercount = purchase_data["SN"].nunique()
Male = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
Female = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()
Other_Non_Disclosed = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()
Male_perctage = ((Male/usercount)*100)
Female_percentage = ((Female/usercount)*100)
Other_percentage = ((Other_Non_Disclosed/usercount)*100)

Gender_Demographics = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                                    "Total Count": [Male, Female, Other_Non_Disclosed], 
                                    "Percentage of Players" : [Male_perctage, Female_percentage, Other_percentage]},
                                    columns = ["Gender", "Total Count","Percentage of Players"])

Gender_Demographics.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
Male_Purchases = purchase_data[purchase_data["Gender"] == "Male"]["Price"].count()
Female_Purchashes = purchase_data[purchase_data["Gender"] == "Female"]["Price"].count()
Other_purchases = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]["SN"].count()
mpriceavg = purchase_data[purchase_data["Gender"] == "Male"]['Price'].mean()
fpriceavg = purchase_data[purchase_data["Gender"] == "Female"]['Price'].mean()
opriceavg = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].mean()
mpricetot = purchase_data[purchase_data["Gender"] == "Male"]['Price'].sum()
fpricetot = purchase_data[purchase_data["Gender"] == "Female"]['Price'].sum()
opricetot = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].sum()
MToal = mpricetot/Male
FTotal = fpricetot/Female 
OTotal = opricetot/Other_Non_Disclosed

gender_purchase_df = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"], "Purchase Count": [Female_Purchashes,Male_Purchases, Other_purchases],
                                        "Average Purchase Price": [fpriceavg, mpriceavg, opriceavg], "Total Purchase Value": [fpricetot, mpricetot, opricetot],
                                "Avg Total Purchase per Person": [FTotal, MToal, OTotal]}, columns = 
                                        ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"])
                                        
gender_purchase_final = gender_purchase_df.set_index("Gender")
gender_purchase_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Total Purchase per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 9, 14, 19, 24, 29,
        34, 39, 1000,]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]
pd.cut(purchase_data["Age"], bins, labels=group_labels).head()
purchase_data["Age_Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
Age_group = purchase_data.groupby("Age_Group")['SN'].nunique()

Age = pd.DataFrame(Age_group)
percent_players = Age['SN']/Total
Age['Percent of Players'] = percent_players
Age = Age.rename(columns={'SN':'Total Count'})

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
grouped_age = purchase_data.groupby(["Age_Group"])
groupedAPP = grouped_age["Price"].mean()
GroupedTPV = grouped_age["Price"].sum()
GroupedUnique = grouped_age["SN"].nunique()
Purchase_count = grouped_age["Price"].count()
perperson = GroupedTPV/GroupedUnique
Purchase_count



summary = pd.DataFrame({'Purchase Count':Purchase_count,
                       "Average Purchase Price":groupedAPP,
                       'Total Purchase Value':GroupedTPV,
                       "Avg Total Purchase per Person":perperson})
summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age_Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [71]:

sn_total_purchase = purchase_data.groupby('SN')['Price'].sum().to_frame()
sn_purchase_count = purchase_data.groupby('SN')['Price'].count().to_frame()
sn_purchase_avg = purchase_data.groupby('SN')['Price'].mean().to_frame()

sn_total_purchase.columns=["Total Purchase Value"]
join_one = sn_total_purchase.join(sn_purchase_count, how="left")
join_one.columns=["Total Purchase Value", "Purchase Count"]

join_two = join_one.join(sn_purchase_avg, how="inner")
join_two.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

top_spenders_df = join_two[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spenders_final = top_spenders_df.sort_values('Total Purchase Value', ascending=False).head()
top_spenders_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
merge1 = purchase_data.groupby("Item Name").sum().reset_index()
merge2 = purchase_data.groupby("Item ID").sum().reset_index()
merge3 = purchase_data.groupby("Item Name").count().reset_index()

#merge dataframes
mergeone = pd.merge(merge1, merge2, on="Price")
mergetwo = pd.merge(merge3, mergeone, on="Item Name")

#start to create final dataframe by manipulating data
mergetwo["Gender"] = (mergetwo["Price_y"]/mergetwo["Item ID"]).round(2)

mergetwo_renamed = mergetwo.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

#grab columns we are looking for
clean_df = mergetwo_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

prefinal_df = clean_df.set_index(['Item ID','Item Name'])
popular_items_final = prefinal_df.sort_values('Purchase Count', ascending=False).head(6)
popular_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [75]:



profit_items_final = prefinal_df.sort_values('Total Purchase Value', ascending=False).head()
profit_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80